body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
}

header {
    background-color: #ff0000;
}

.header-content {
    color: white;
    padding: 0;
}

.carousel-caption h1, .carousel-caption p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

h1, h2, h3 {
    font-family: 'Open Sans', serif;
    color: #00338D;
}

p, li, .blockquote p {
    color: #333;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #FFCC00;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #FFCC00;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

footer {
    background-color: #00338D;
}

.card-title {
    font-family: 'Roboto';
}

.carousel-caption h5 {
    font-family: 'Roboto';
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 0.2em 0.5em;
}

.carousel-caption p {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 0.2em 0.5em;
}

.navbar-light .navbar-nav .nav-link {
    color: #ff0000;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #FFCC00;
}

.footer .d-flex a {
    font-size: 1.5em;
    color: white;
    margin: 0 0.5em;
    transition: color 0.3s;
}

.footer .d-flex a:hover {
    color: #FFCC00;
}

.hero-image img {
    width: 100%;
    height: auto;
}

/* Footer Hover Links */
#footer a:hover {
    color: #a83338 !important;
    text-decoration: underline !important;
}